*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,body{
	height: 100%;
}
.container{
	width: 95%;
	max-width: 1400px;
	margin: 20px auto;
}
h1{
	font-family: Kreon;
	font-size: 48px;
}
p{
	font-family: Rubik;
	font-size: 16px;
}
header{
	background-color: #74248F;
	height: 240px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	color: #fff;
}

header h1{
	text-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

nav{
	position: relative;
	top: -3em;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	font-size: 22px;
	font-family: Rubik;
}

nav ul li a{
	text-decoration: none;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.25);
	padding: 4px;
	color: #fff;
	transition: 0.5s;
	border-radius: 4px;
}

nav ul li a:hover{
	background-color: #fff;
	color: #74248F;
}


.figurinha_um, .figurinha_dois, .figurinha_tres, .figurinha_quatro, .figurinha_cinco{
	background-color: #6B8E23;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
} 

.figurinha_um figure, .figurinha_dois figure, .figurinha_tres figure, .figurinha_quatro figure, .figurinha_cinco figure{
	margin-bottom: 10px;
}

.figurinha_um img, .figurinha_dois img, .figurinha_tres img, .figurinha_quatro img, .figurinha_cinco img{
	border: 5px solid #e4e4e4;
	border-radius: 10px;
}

.onomatopeia_um, .onomatopeia_dois{
	transform: rotate(12.24deg);
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.resumo .figurinha_um{
	height: 558px;
}


.fig1_text, .fig2_text{
	text-align: left;
	line-height: 22px;
}

.resumo .resumo_text{
	margin-top: 24px;
	width: 60%;
	line-height: 20px;
	text-align: justify;
	min-width: 450px;
	max-width: 905px;
}

.resumo_text h1{
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}

.resumo_text .onomatopeia_um{
	position: relative;
	left: 40%;
	margin-top: -1.5em;
	width: 350.26px;
}

.biografia .parte_um{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 70px;
}

.parte_um .bio1_text{
	margin: 0;
	width: 60%;
}

.parte_um .bio1_text h1{
	text-align: center;
	margin-bottom: 20px;
}

.parte_um .bio1_text p{
	margin-top: 2px;
	line-height: 20px;
	text-align: justify;
	min-width: 450px;
	max-width: 905px;
}

.parte_um .figurinha_dois{
	margin: 0;
	width: 330px;
	height: 562px;
}

.figurinha_dois .fig2_text{
	width: 277px;
	margin-left: 1rem;
	text-align: left;
}

.biografia .parte_dois{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.figurinhas .figurinha_tres{
	width: 546px;
	margin-bottom: 68px;
	height: 357px;
}

.figurinhas .figurinha_quatro{
	width: 506px;
	margin: 15px 0 15px 0;
	height: 380px;
} 

.parte_dois .bio2_text{
	width: 49%;
	margin-top: 3px;
	line-height: 20px;
	text-align: justify;
	min-width: 450px;
	max-width: 905px;
}

.bio2_text p{
	margin-top: 2px;
}

.obras{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.obras h1{
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

.obras .obras_um,.obras .obras_dois{
	width: 45%;
	font-family: Rubik;
	text-align: justify;
}

.curiosidades{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 60px;
}

.curiosidades .curiosidades_text{
	margin-top: 5px;
	width: 55%;
	font-family: Rubik;
	text-align: justify;
}

.curiosidades_text h1{
	text-align: center;
	margin-bottom: 20px;
}

.curiosidades .figurinha_cinco{
	width: 517px;
	height: 410px;
	text-align: center;
}

.figurinha_cinco p{
	display: inline-block;
	width: 420px;
	text-align: left;
	font-weight: bold;
}

footer{
	height: 80px;
	background-color: #74248F;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 6px 6px 6px rgba(0,0,0,0.25);
}

